<h1>Contact</h1>
<form method="post" action="form.php">
  <div class="champ">
    <label for="pseudo">Entrez votre nom : </label>
    <input type="text" id="nom">
  </div>
  <div class="champ">
    <label for="pass">Entrez votre prenom :</label>
    <input type="text" id="prenom">
  </div>
  <div class="champ">
    <label for="mail">Entrez un message :</label>
    <input type="text" id="message">
  </div>
  <div class="champ">
    <input type="submit" value="  Envoyer  ">
   </div>
</form>

<style>
*{margin-bottom: 5px;
 text-align:center}

input {margin-bottom: 5px;
border-radius: 20px;
border-color:green;}




    
    
</style>
