<h1>Contact</h1>

  <div class="champ">
    <label for="pseudo">Entrez votre nom : </label>
      <br>
    <input type="text" id="nom">
  </div>

  <div class="champ">
    <label for="pass">Entrez votre prenom :</label>
      
      <br>
    <input type="text" id="prenom">
  </div>

<div class="champ">
    <label for="message">Entrez votre message : </label>
</div>
    
    <textarea name="comment" rows="12" cols="35">Saisissez votre message</textarea>
  <div class="champ">
      
    <input type="submit" value="  Envoyer  ">
   </div>
</form>

<style>
*{margin-bottom: 5px;
 text-align:center}

input {margin-bottom: 5px;
border-radius: 20px;
border-color:green;}




    
    
</style>
